.card {
    height: 600px;
    width: 800px;
    margin-top: 20px;
    margin-left: 50px;
}
.image {
    height: 400px;
    width: 700px;
    padding: 20px;
    margin-left: 20px;
}

.btnMore {
    
}