<div class="text-center">
    <h2>Angular architecture</h2>
    <img src="https://csharpcorner-mindcrackerinc.netdna-ssl.com/article/basic-architecture-of-angular-2-applications/Images/image001.jpg" width="50%" height="50%" alt="">
</div>
<div class="text-center">
  <p>
      Angular is a platform and framework for building client applications in HTML and TypeScript. Angular is itself written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.
  </p>
</div>
