<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div class="container">
  <div class="row">
    <ul class="nav">
      <li class="nav-item active" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>

    </ul>
  </div>

  <div class="">
      <router-outlet></router-outlet>
  </div>
</div>