<app-auth-header></app-auth-header>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Log In</h5>

    <div [hidden]="!invalid">
      <div class="alert alert-danger" role="alert">
        Invalid Credentials.
      </div>
    </div>

    
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="username" class="form-control" id="username" placeholder="Enter email" required [(ngModel)]="login_data.username"
            name="username" #username="ngModel">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="login_data.password"
            name="password" #password="ngModel">
        </div>
        <button type="submit" (click)="login(); loginForm.reset()" class="btn btn-primary btn-submit" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    
  </div>
</div>


<app-footer></app-footer>