<div>
  <nav class="nav  nav-justified justify-content-center align-items-center">
    <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a>
    <a [routerLink]="['/news']" routerLinkActive="active" class="nav-link">News</a>
    <a [routerLink]="['/politics']" routerLinkActive="active" class="nav-link">Politics</a>
    <a [routerLink]="['/finance']" routerLinkActive="active" class="nav-link">Finance</a>
    <a [routerLink]="['/health']" routerLinkActive="active" class="nav-link">Health And Fitness</a>
    <a [routerLink]="['/contact']" routerLinkActive="active" class="nav-link">Contact Us</a>
    <a [routerLink]="['/read']" routerLinkActive="active" class="nav-link">Read</a>
  </nav>
</div>
<div>
    <router-outlet></router-outlet>
  </div>