<app-dash-header></app-dash-header>
<div class="wrapper">
  <app-dash-sidebar></app-dash-sidebar>
  <div id="content">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Topic</th>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let post of posts">
            <tr>
              <th scope="row">{{post.id}}</th>
              <td>{{ post.topic | lowercase}}</td>
              <td>{{ post.title }}</td>
              <td>{{ (post.post_content.length > 70)? (post.post_content | slice:0:70)+'...':(post.post_content)}}</td>
              <td>
                <button class="btn btn-primary">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
        <app-pagination [page]=page [meta]=meta [links]=links (sendPageNumberToParent)="goToPageSelected($event)"></app-pagination>
      </div>
    </div>

  </div>
</div>