<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>Angular Js Routing</title>
  <script type="text/ng-template" id="/view1.tpl">
    <p>
        First Name: <input type="text" ng-model="firstname"><br>
        Last Name: <input type="text" ng-model="lastname"> <br>
        <button ng-click="loadView2()">Load View2</button>
    </p>
  </script>
  <script type="text/ng-template" id="/view2.tpl">
    <p>
        From View 2.
        <ul>
          <li>First Name: {{ firstname }}</li>
          <li>Last Name: {{ lastname }}</li>
        </ul>
    </p>
  </script>
</head>
<body>
    <ul class="menu">
      <li><a href="/view1">View1</a></li>
      <li><a href="/view2">View2</a></li>
    </ul>

    <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>
   <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>