<section id="bl-slider" class="bl-section">
  <div class="bl-slider">
    <ul>
      <li>
        <div class="bl-image-data">
          <img class="d-block w-100" src="../assets/images/blog.jpg" alt="">
        </div>
         <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio magnam corporis libero
              laudantium! Veniam et numquam placeat, fuga obcaecati fugiat praesentium minus, ipsa
              tempore sequi vero culpa iusto quas maiores!
          </p>
      </li>
      <li>
          <div class="bl-image-data">
              <img class="d-block w-100" src="../assets/images/blog1.jpg" class="image" alt="Third slide">
          </div>
           <p>
                Is Change, dolor sit amet consectetur adipisicing elit. Optio magnam corporis libero
                laudantium! Veniam et numquam placeat, fuga obcaecati fugiat praesentium minus, ipsa
                tempore sequi vero culpa iusto quas maiores!
            </p>
        </li>
        <li>
            <div class="bl-image-data">
              <img class="d-block w-100" src="../assets/images/blog2.jpg" alt="">
            </div>
             <p>
                  Changing again, dolor sit amet consectetur adipisicing elit. Optio magnam corporis libero
                  laudantium! Veniam et numquam placeat, fuga obcaecati fugiat praesentium minus, ipsa
                  tempore sequi vero culpa iusto quas maiores!
              </p>
          </li>
    </ul>

    <i id="bl-slider-prev" class="bl-arrow bl-arrow-left"></i>
    <i id="bl-slider-next" class="bl-arrow bl-arrow-right"></i>

  </div>

</section>




