<app-auth-header></app-auth-header>

<div [hidden]="submitted">

  <div class="container"></div>
  <div class="card">
    <div lass="card-body">
      <h5 class="card-title">Register</h5>
      <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="firstname">First Name</label>
            <input class="form-control" id="firstname" placeholder="First Name" required [(ngModel)]="user.firstname" name="firstname"
              #firstname="ngModel">
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">

              <div *ngIf="firstname.errors.required">
                First name is required
              </div>

            </div>
          </div>


          <div class="form-group col-md-6">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" placeholder="Last Name" required [(ngModel)]="user.lastname" name="lastname"
              #lastname="ngModel">
            <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">Please enter your last name</div>
          </div>
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <select class="form-control" id="country" required [(ngModel)]="user.country" name="country" #country="ngModel" data-live-search="true">
            <option value="{{ country.key }}" *ngFor="let country of countries">{{ country.value }}</option>
          </select>

          <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger">
            <div *ngIf="country.errors.required">
              Please choose your country
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="telephone">Phone Number</label>
          <input type="text" class="form-control" id="telephone" placeholder="Enter Phone Number" [(ngModel)]="user.telephone" name="telephone"
            #telephone="ngModel" required validTelephone uniqueTelephone (change)="validTelephone()">

          <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="alert alert-danger">
            <div *ngIf="telephone.errors.required">
              Please enter your phone number
            </div>

            <div *ngIf="telephone.errors.validTelephone">
              Invalid phone number
            </div>

            <div *ngIf="telephone.errors.uniqueTelephone">
              Phone number already taken
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="user.email" name="email" #email="ngModel"
            required email uniqueEmail>

          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Please enter your email
            </div>

            <div *ngIf="email.errors.email">
              Invalid email
            </div>

            <div *ngIf="email.errors.uniqueEmail">
              Email already taken
            </div>
          </div>

        </div>


        <div class="row">
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="user.password" name="password"
              #password="ngModel" minlength="6">

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Please enter your password
              </div>

              <div *ngIf="password.errors.minlength">
                Password should be atleast {{ password.errors.minlength.requiredLength}} characters
              </div>
            </div>

          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="password_confirmation" placeholder="Confirm Password" [(ngModel)]="user.password_confirmation"
              name="password_confirmation" required #password_confirmation="ngModel" compare="password">

            <div *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched)" class="alert alert-danger">
              <div *ngIf="password_confirmation.errors.required">
                Please enter your password confirmation
              </div>

              <div *ngIf="password_confirmation.errors.compare">
                Passwords don't match
              </div>


            </div>



          </div>
        </div>


        <button type="submit" (click)="register(); registrationForm.reset()" class="btn btn-primary btn-submit" [disabled]="!registrationForm.form.valid">Register</button>
      </form>
    </div>
  </div>

</div>


<div [hidden]="!submitted">
  <div class="card">
    <div lass="card-body">
      <div class="alert alert-success card-title" role="alert">
        Registration successful. Login to continue
      </div>

      <br>
      <a routerLink="/admin/login" class="btn btn-outline-success my-2 my-sm-0 login">Login</a>
    </div>
  </div>
</div>

<app-footer></app-footer>