.card {
    height: auto;
    width: 800px;
    margin-top: 20px;
    margin-left: 50px;
}
.image {
    height: auto;
    max-width: 300px;
    width: 100%;
    color: aqua;   
    border-radius: 0.2em;
    background-color: #E9F7FE;
    padding: 5px;
    border-color: #DADADA;
    border-style: solid;
    border-width: thin;
    font-size: 15px

}

.btnMore {
    
}